/* Full Page Center */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eef2f3;
}

/* Card */
.auth-box {
  width: 350px;
  background: #fff;
  padding: 28px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  text-align: center;
}

/* Title */
.auth-box h2 {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 600;
}

/* Input boxes */
.input-box {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

/* Button */
.auth-btn {
  width: 100%;
  padding: 12px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.auth-btn:hover {
  background: #0056b3;
}

/* Toggle text */
.switch-text {
  margin-top: 12px;
  font-size: 14px;
}

.switch-link {
  color: #007bff;
  cursor: pointer;
  font-weight: 600;
}

.switch-link:hover {
  text-decoration: underline;
}


.dashboard {
  text-align: center;
  padding: 40px;
  background: #f5f5f5;
}

.dashboard h1 {
  font-size: 28px;
  color: #333;
}

